* {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: poppins, sans-serif;
}

.M1-shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 600px;
  height: 150px;
}

.M1-shape li {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #000;
  transform: rotate(45deg);
  transition: 0.5s;
  margin: -100px;
  overflow: hidden;
  opacity: 0.5;
}

.textbg {
	font-family: 'Syncopate', sans-serif;
	font-size: 2.9em;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	position: relative;
	top: 50%;
	text-align: center;
	color: white;
	height: -100px;
	-webkit-transform : rotate(-45deg) scale(1.0);
	line-height: 0px;
}

.budge{
	position: relative;
	right: -20px;
}

.M1-shape li:hover {
  opacity: 1;
}

.M1-shape li.item1 {
  bottom: 0;
  left: 0;
}

.M1-shape li.item2 {
  top: 0;
  left: 25%;
}

.M1-shape li.item3 {
  bottom: 0;
  left: 50%;
}

.M1-shape li.item4 {
  top: 0;
  left: 75%;
}

.M1-shape li.item5 {
  bottom: 0;
  left: 100%;
}

.M1-shape li .bg {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.M1-shape li.item1 .bg {
  background: url("file:///Users/Frankie/Html-Css-Javascript/portfolio/memsmosaics/images/b.png");
  background-size: cover;
  background-position: center;
  position:absolute;
  bottom:0px;
  right:0px;
  -webkit-transform : rotate(-45deg) scale(1.4);
}

.M1-shape li.item2 .bg {
  background: url(http://localhost:3000/images/d.png);
  background-size: cover;
  background-position: center;
  -webkit-transform : rotate(90deg) scale(1.55);
}

.M1-shape li.item3 .bg {
  background: url(http://localhost:3000/images/p.png);
  background-size: cover;
  background-position: center;
  position:absolute;
  bottom:10px;
  right:5px;
  -webkit-transform : rotate(-45deg) scale(1.5);
}

.M1-shape li.item4 .bg {
  background: url(http://localhost:3000/images/l.png);
  background-size: cover;
  background-position: center;
  position:absolute;
  bottom:0px;
  right:0px;
  -webkit-transform : rotate(-45deg) scale(1.4);
}

.M1-shape li.item5 .bg {
  background: url(http://localhost:3000/images/c.png);
  background-size: cover;
  position:absolute;
  bottom:-30px;
  right:-15px;
  -webkit-transform : rotate(-45deg) scale(1.8);
}

.M2-shape {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 600px;
  height: 150px;
}

.M2-shape li {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #000;
  transform: rotate(45deg);
  transition: 0.5s;
  margin: -100px;
  overflow: hidden;
  opacity: 0.5;
}

.M2-shape li:hover {
  opacity: 1;
}

.M2-shape li.item1 {
  bottom: 0;
  left: 0;
}

.M2-shape li.item2 {
  top: 0;
  left: 25%;
}

.M2-shape li.item3 {
  bottom: 0;
  left: 50%;
}

.M2-shape li.item4 {
  top: 0;
  left: 75%;
}

.M2-shape li.item5 {
  bottom: 0;
  left: 100%;
}

.M2-shape li .bg {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.M2-shape li.item1 .bg {
  background: url(http://localhost:3000/images/q.png);
  background-size: cover;
  position:absolute;
  bottom:-35px;
  right:-45px;
  -webkit-transform : rotate(-45deg) scale(1.8);
}


.M2-shape li.item2 .bg {
  background: url(http://localhost:3000/images/r.png);
  background-size: cover;
  position:absolute;
  bottom:0px;
  right:0px;
  -webkit-transform : rotate(-45deg) scale(1.3);
}

.M2-shape li.item3 .bg {
  background: url(http://localhost:3000/images/u.png);
  background-size: cover;
  position:absolute;
  bottom:0px;
  right:0px;
  -webkit-transform : rotate(-45deg) scale(1.4);
}

.M2-shape li.item4 .bg {
  background: url(http://localhost:3000/images/v.jpg);
  background-size: cover;
  position:absolute;
  bottom:0px;
  right:0px;
  -webkit-transform : rotate(-45deg) scale(1.8);
}

.M2-shape li.item5 .bg {
  background: url(http://localhost:3000/images/s.png);
  background-size: cover;
  position:absolute;
  bottom:-0px;
  right:-30px;
  -webkit-transform : rotate(-45deg) scale(1.4);
}


/*BACKGROUND COLOUR ANIMATION */
/* https://stackoverflow.com/questions/27766343/change-background-color-every-30s-fade-transition/27766408 */


.textbg {
  -webkit-animation: background 5s cubic-bezier(1,0,0,1) infinite;
  animation: background 100s cubic-bezier(1,0,0,1) infinite;  
}


@-webkit-keyframes background {
  0% { color : #f99; }
  33% { color: #9f9; }  
  67% { color: #99f; }
  100% { color: #f99; }
}

@keyframes background {
  0% { color: white; }
  40% { color: #f99; }
  60% { color: #9f9; }  
  80% { color: #99f; }
  100% { color: #f99; }
}
