* {
	box-sizing: border-box;
	margin: 0px;
}

#alien {
	/*height: 100%;
	width: 300px;*/
	/*float: left;*/
}

img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	}

.pic-top {
	float: left;
	height: 200px;
	width: 25%;
	/*background-color: blue;*/
	/*border-style: solid;*/
}

.pic-bottom {
	float: left;
	height: 200px;
	width: 25%;
	/*background-color: blue;*/
	/*border-style: solid;*/

}

.banner {
  margin: auto;
  width: 50%;
  /*border: 3px solid #73AD21;*/
  height: 120px;
  float: left;
}

.banner2 {
  margin: auto;
  padding: 10px;
  width: 50%;
  /*border: 3px solid #73AD21;*/
  height: 120px;
  float: left;
}

#cs {
	height: 100%;
	width: 100%;
	object-fit: fill;
}

#content {
  margin: auto;
  width: 100vw;
  /*border: 3px solid #73AD21;*/
  height: 50vh;
  float: left;

