* {
  /*transition: all 1s;*/
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  position: relative;
  /*change button size here*/
  padding: 10px 20px;
  background: skyblue;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}


.btn:after, .btn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}
.btn:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid black;
  border-left: 5px solid black;
}
.btn:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}
.btn:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn:hover:before, .btn:hover:after {
  width: 100%;
  height: 100%;
}

.background-container {
  background: #B985D6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dc {
  transition: all 1s;
}

.frankie {
  height: 50px;
}

.websites {
  position: fixed;
  top: 4%;
  left: 1%;
}

.resume {
  position: fixed;
  top: 4%;
  right: 1%;
}

.music {
  position: fixed;
  bottom: 4%;
  left: 1%;
}

.doom {
  position: fixed;
  bottom: 4%;
  right: 1%;
}

/**/
/*click classes*/
/**/

.doomClass {
  background: url("IDDQD.jpg");
  transition: all 1s;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 35px;

}
.background-container-doom {
  background-image: linear-gradient(#440000, #230000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.websitesClass {
  background: url("websites.png");
  background-size: 101% 101%;
  transition: all 1s;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #111;
  cursor: pointer;
  position: relative;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.background-container-websites {
  background: orange;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.whoami.websitesClass{
  padding-right: 25vw;
  padding-left: 25vw;
  padding-top: 22%;
  padding-bottom: 22%;
}



.musicClass {
  background: url("music.png");
  background-size: 101% 101%;
  transition: all 1s;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #111;
  cursor: pointer;
  position: relative;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.background-container-music {
  background: beige;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.whoami.musicClass{
  padding-right: 22.5vw;
  padding-left: 22.5vw;
  padding-top: 28%;
  padding-bottom: 28%;
}


.resumeClass {
  background: url("resume.jpg");
  background-size: 101% 101%;
  transition: all 1s;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #111;
}
.background-container-resume {
  background: yellow;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.whoami.resumeClass{
  padding-left: 37.5vw;
  padding-right: 37.5vw;
  padding-top: 5%;
  padding-bottom: 5%;
}

